@page "/"

<PageTitle>Blazor Prototype</PageTitle>

<h1>Blazor Prototype</h1>
<p>
    Welcome to the Blazor Prototype project. This project is a prototype for a Blazor Web App. The project will 
    be used to learn about Blazor and how to build a Blazor Web App. The project will be used to learn about 
    authentication and authorization, payment processing, and look & feel. The project will be used to learn about 
    component libraries and how to use them in a Blazor Web App.
</p>
<h3>Authentication and Authorization</h3>
<p>
    This project will be used to learn about authentication and authorization in a Blazor Web App. Users should
    be able to register, login, and logout. Users should also be able to view a list of items or interact with 
    components that are only available to authenticated users.
</p>
<p>
    User should be able to register and login using a username and password. The password should be hashed and
    stored in the database. The password should never be stored in plain text. In addition OAUTH2 will 
    be used to authenticate users using Google, Facebook, and Twitter.
</p>
<h3>Payment Processing</h3>
<p>
    Users should be able to purchase access to the application using a credit card. The credit card information 
    should be stored in a secure manner. The credit card information should never be stored in plain text. The 
    credit card information should be encrypted and stored in the database. The credit card information should be
    decrypted when needed to process a payment.
</p>
<p>
    We will investigate the use of Stripe to process payments. Stripe is a popular payment processing service
    that is easy to use and has a good reputation. For more information on Stripe visit their website at
    <a href="https://stripe.com">https://stripe.com</a>.
</p>
<p>
    We should demonstrate how paid users have access to additional features in the application. For example,
    paid users may have access to additional reports or features that are not available to free users. Also, 
    paid users may have access to the application for a longer period of time than free users. When a subscription
    expires the user should be notified and given the opportunity to renew their subscription.
</p>
<h3>Look & Feel</h3>
<p>
    The application should have a professional look and feel. The application should be easy to use and 
    navigate. The application should be responsive and work on all devices. The application should be 
    accessible to users with disabilities. The application should be secure and protect user data.
</p>
<p>
    We will investigate the use of Bootstrap to style the application. Bootstrap is a popular front-end 
    framework that is easy to use and has a good reputation. For more information on Bootstrap visit their 
    website at <a href="https://getbootstrap.com">https://getbootstrap.com</a>.
</p>
<p>
    We will investigate the use of Font Awesome to add icons to the application. Font Awesome is a popular 
    icon library that is easy to use and has a good reputation. For more information on Font Awesome visit 
    their website at <a href="https://fontawesome.com">https://fontawesome.com</a>.
</p>
<p>
    We will investigate the use of Google Fonts to add fonts to the application. Google Fonts is a popular 
    font library that is easy to use and has a good reputation. For more information on Google Fonts visit 
    their website at <a href="https://fonts.google.com">https://fonts.google.com</a>.
</p>
<h3>Component Libraries to try</h3>
<p>
    We will investigate Blazorise to add components to the application. Blazorize is a popular component
    library that is easy to use and has a good reputation. For more information on Blazorize visit their
    website at <a href="https://blazorise.com/">https://blazorise.com/</a>.
</p>
<p>
    We will investigate Radzen, a popular component library that is easy to use and has a good reputation.
    For more information on Radzen visit their website at <a href="https://www.radzen.com/">https://www.radzen.com/</a>.
</p>